html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    padding: 30px;
    margin: 0 auto;
    max-width: 800px;
    background-image: url("../images/backgroundPicture.jpg");
}


.button {
    padding: 10px;
    color: black;
    background-color: hsl(231, 6%, 85%);
    border-style: none;
    border-radius: 10%;
}

